.list-component__item {
    margin-right: 40px;
    text-align: left;
    display: flex;
}

.list-component__item:last-child {
    margin-right: 0;
}

.list-component__logo {
    border: 1px solid #E0E0E0;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    min-width: 110px;
    height: 110px;
    display: flex;
}

.list-component__logo_image {
    background-image: url(../../images/icon-service.svg);
    background-repeat: no-repeat;
    animation: flipInY 2s linear;
    background-position: center;
    border: 1px solid #4985FF;
    border-radius: 50%;
    height: 90px;
    width: 90px;
}

.list-component__item_block {
    margin-left: 20px;
    max-width: 222px;
}

.list-component__item_block_title {
    font-family: 'Montserrat';
    line-height: normal;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color: #000;
}

.list-component__item_block_description {
    color: var(--grey, #999);
    font-family: 'Montserrat';
    line-height: 158.47%;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
}

@media screen and (max-width: 768px) {
    .list-component__item {
        margin-right: 0;
    }

    .list-component__item_block {
        max-width: 300px;
    }
}

@media screen and (max-width: 280px) {
    .list-component__item {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .list-component__item_block {
        max-width: 280px;
        margin-left: 0;
    }
}