.price {
    flex-direction: column;
    align-items: center;
    background: #F6F6F8;
    display: flex;
}

.price__content {
    align-items: center;
    flex-wrap: wrap;
    display: flex;
}

.price__content_block {
    max-width: 490px;
}

.price__content_block_title {
    color: var(--dark, #323232);
    font-family: 'Montserrat';
    line-height: 146.28%;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    flex-shrink: 0;
}

.price__content_block_image {
    box-shadow: 0px 0px 10px 0px rgba(111, 111, 111, 0.25);
    background-position: center;
    border-radius: 30px;
    flex-shrink: 0;
}

.price__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 40px calc((100% - (255px * 3)) / 3);
    gap: 15px;
}

@media screen and (max-width: 1280px) {
    .price__content {
        justify-content: center;
        text-align: center;
    }

    .price__content_block {
        margin-right: 0;
    }

    .price__list {
        align-items: center;
        margin-top: 20px;
    }
}

@media screen and (max-width: 1024px) {
    .price__content {
        justify-content: center;
        text-align: center;
    }

    .price__content_block {
        margin-right: 0;
    }

    .price__list {
        align-items: center;
        margin-top: 20px;
    }
}

@media screen and (max-width: 768px) {
    .price {
        padding-bottom: 0;
        padding-top: 30px;
    }

    .price__content {
        justify-content: center;
        text-align: center;
        max-width: 768px;
    }

    .price__content_block {
        margin-right: 0;
    }

    .price__content_block_title {
        max-width: 758px;
        font-size: 36px;
        margin-top: 0;
    }

    .price__content_block_description {
        margin-top: 15px;
        font-size: small;
        padding: 0 5px;
    }

    .price__content_block_image {
        max-width: 320px;
    }

    .price__list {
        align-items: center;
        margin-top: 20px;
    }
}

@media screen and (max-width: 320px) {
    .price {
        padding: 30px 0 70px 0;
        max-width: 320px;
    }

    .price__content {
        flex-direction: column;
        max-width: 320px;
    }

    .price__content_block {
        text-align: center;
        max-width: 320px;
        margin: 0;
    }

    .price__list {
        flex-direction: column;
    }

    .price__content_block_image {
        max-width: 320px;
    }
}

@media screen and (max-width: 280px) {
    .price {
        padding: 30px 0 70px 0;
        max-width: 280px;
    }

    .price__content {
        flex-direction: column;
        max-width: 280px;
    }

    .price__content_block {
        text-align: center;
        max-width: 280px;
        margin: 0;
    }

    .price__list {
        flex-direction: column;
    }

    .price__content_block_image {
        max-width: 280px;
    }
}