.staff-component {
    display: flex;
    flex-direction: column;
}

.staff-component__block {
    display: flex;
}

.staff-component__image {
    border-radius: 10px;
    object-fit: cover;
    cursor: pointer;
    width: 191.25px;
    transition: 1s;
    height: 255px;
}

.staff-component__image:hover {
    transform: scale(1.2);
}

.staff-component__image:last-child {
    margin: 0;
}

.staff__title {
    font-family: 'Montserrat';
    line-height: normal;
    margin: 30px auto 0;
    text-align: center;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color: #fff;
}

.staff__post {
    color: var(--grey, #cbc8c8);
    font-family: 'Montserrat';
    line-height: 158.47%;
    margin: 10px auto 0;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
}

@media screen and (max-width: 768px) {
    .staff-component__image {
        margin-right: 0;
    }

    .staff-component {
        margin: 0 40px;
    }

}