.standarts {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #F6F6F8;
    padding: 100px 0 70px 0;
}

.standarts__content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-bottom: 90px;
    border-bottom: 1px solid #e0e0e0;
}

.standarts__content_block {
    max-width: 490px;
    margin-right: 120px;
}

.standarts__content_block_title {
    width: 424px;
    height: 88px;
    flex-shrink: 0;
    color: var(--dark, #323232);
    font-family: 'Montserrat';
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 146.28%;
}

.standarts__content_block_description {
    width: 489px;
    height: 117px;
    flex-shrink: 0;
    color: var(--grey, #999);
    font-family: 'Montserrat';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 158.47%;
}

.standarts__content_block_image {
    background: lightgray 50% / cover no-repeat, #C4C4C4;
    background-image: url(../../images/standarts-logo.png);
    background-position: center;
    box-shadow: 0px 0px 10px 0px rgba(111, 111, 111, 0.25);
    width: 500px;
    height: 400px;
    flex-shrink: 0;
    border-radius: 30px;
}

.standarts__list {
    display: flex;
    margin: 70px auto 0;
    padding: 0;
}