.standarts {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #F6F6F8;
    padding: 100px 0 70px 0;
}

.standarts__content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-bottom: 90px;
    border-bottom: 1px solid #e0e0e0;
}

.standarts__content_block {
    max-width: 490px;
    margin-right: 120px;
}

.standarts__content_block_title {
    flex-shrink: 0;
    color: var(--dark, #323232);
    font-family: 'Montserrat';
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 146.28%;
}

.standarts__content_block_description {
    flex-shrink: 0;
    color: var(--grey, #999);
    font-family: 'Montserrat';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 158.47%;
}

.standarts__content_block_image {
    /* background-image: url(../../images/standarts-logo.png); */
    background-position: center;
    box-shadow: 0px 0px 10px 0px rgba(111, 111, 111, 0.25);
    flex-shrink: 0;
    border-radius: 30px;
}

.standarts__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 70px auto 0;
    padding: 0;
}

@media screen and (max-width: 1280px) {
    .standarts__content {
        justify-content: center;
        text-align: center;
    }

    .standarts__content_block {
        margin-right: 0;
    }

    .standarts__list {
        align-items: center;
        margin-top: 20px;
    }
}

@media screen and (max-width: 1024px) {
    .standarts__content {
        justify-content: center;
        text-align: center;
    }

    .standarts__content_block {
        margin-right: 0;
    }

    .standarts__list {
        align-items: center;
        margin-top: 20px;
    }
}

@media screen and (max-width: 768px) {
    .standarts {
        padding-bottom: 0;
        padding-top: 30px;
    }

    .standarts__content {
        max-width: 768px;
        justify-content: center;
        text-align: center;
    }

    .standarts__content_block {
        margin-right: 0;
    }

    .standarts__content_block_title {
        max-width: 758px;
        font-size: 36px;
        margin-top: 0;
    }

    .standarts__content_block_description {
        margin-top: 15px;
        font-size: small;
    }

    .standarts__content_block_image {
        max-width: 320px;
    }

    .standarts__list {
        align-items: center;
        margin-top: 20px;
    }
}

@media screen and (max-width: 320px) {
    .standarts {
        max-width: 320px;
        padding: 30px 0 70px 0;
    }

    .standarts__content {
        max-width: 320px;
        flex-direction: column;
    }

    .standarts__content_block {
        max-width: 320px;
        text-align: center;
        margin: 0;
    }

    .standarts__list {
        flex-direction: column;
    }

    .standarts__content_block_image {
        max-width: 320px;
    }
}

@media screen and (max-width: 280px) {
    .standarts {
        max-width: 2800px;
        padding: 30px 0 70px 0;
    }

    .standarts__content {
        max-width: 280px;
        flex-direction: column;
    }

    .standarts__content_block {
        max-width: 280px;
        text-align: center;
        margin: 0;
    }

    .standarts__list {
        flex-direction: column;
    }

    .standarts__content_block_image {
        max-width: 280px;
    }
}