.button-component__block-button {
    box-shadow: 0px 0px 10px 0px rgba(111, 111, 111, 0.25);
    background-color: #4985FF;
    text-decoration: none;
    border-radius: 10px;
    cursor: pointer;
    flex-shrink: 0;
    width: 200px;
    height: 45px;
}

.button-component__block-button_text {
    margin: 13px auto 15px auto;
    font-family: 'Montserrat';
    line-height: normal;
    font-style: normal;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    color: #FFF;
}

@media (hover: hover) {
    .button-component__block-button:hover {
        transition: 1s;
        opacity: .6;
    }
}

@media screen and (max-width: 320px) {
    .button-component__block-button {
        margin: 0 auto 20px;
    }
}

@media screen and (max-width: 768px) {
    .button-component__block-button {
        margin: 0 auto 20px;
    }
}