.list-popup-service {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: left;
    margin-right: 50px;
}

.list-popup-service:last-child {
    margin: 0;
}

.list-popup-service__block {
    display: flex;
    align-items: center;
}

.list-popup-service__image {
    background-image: url(../../images/standarts-item.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 30px;
    height: 30px;
    flex-shrink: 0;
    margin-right: 20px;
}

.list-popup-service__title {
    color: white;
    font-family: 'Montserrat';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 146.28%;
    flex-shrink: 0;
    margin: 0;
}

.list-popup-service__description {
    text-align: center;
    max-width: 250px;
    color: var(--grey, #999);
    font-family: 'Montserrat';
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 158.47%;
    margin: 17px auto 0;
    text-decoration: dotted;
}


@media screen and (max-width: 1280px) {

    .list-popup-service,
    .list-popup-service:last-child {
        margin: 20px 30px 0;
        min-height: 150px;
    }
}

@media screen and (max-width: 1024px) {
    .list-popup-service {
        margin-top: 20px;
        margin-right: 0;
        min-height: 125px;
    }
}

@media screen and (max-width: 768px) {
    .list-popup-service {
        margin-top: 20px;
        margin-right: 0;
        margin-left: 0;
        min-height: 150px;
    }
}

@media screen and (max-width: 520px) {
    .list-popup-service__title {
        font-size: 13px;
    }

    .list-popup-service__description {
        font-size: 10px;
    }
}

@media screen and (max-width: 320px) {
    .list-popup-service {
        margin-top: 20px;
        margin-right: 0;
    }

    .list-popup-service__image {
        margin-right: 10px;
    }
}

@media screen and (max-width: 280px) {

    .list-popup-service,
    .list-popup-service:last-child {
        margin-top: 0;
        margin-left: 0;
        margin-right: 0;
        min-width: 240px;
    }

    .list-popup-service__title,
    .list-popup-service__description {
        font-size: 8px;
    }
}