.popup {
    background-color: rgba(0, 0, 0, .4);
    justify-content: flex-end;
    pointer-events: none;
    align-items: center;
    position: fixed;
    transition: .5s;
    display: flex;
    z-index: 9999;
    height: 100vh;
    width: 100vw;
    opacity: 0;
    right: 0;
    top: 0;
}

.popup.active {
    pointer-events: all;
    opacity: 1;
}

.popup__content {
    background-color: rgba(6, 41, 61, .9);
    justify-content: center;
    flex-direction: column;
    transform: scale(.5);
    border-radius: 20px;
    transition: .4s all;
    display: flex;
    padding: 20px;
    height: 95vh;
    /* width: 50vw; */
}

.popup__content.active {
    transform: scale(1);
}

.popup__services_close-icon {
    position: absolute;
    max-height: 30px;
    cursor: pointer;
    border: none;
    right: 10px;
    padding: 0;
    top: 10px;
}

/* @media screen and (max-width: 280px) {

    .popup__content {
        height: 80vh;
        width: 80%;
    }
} */