#popup {
    position: fixed;
    top: 17%;
    left: 60%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background-color: rgba(6, 41, 61, 1);
    border-radius: 20px;
    width: 450px;
    visibility: hidden;
}

#popup.active {
    visibility: visible;
    top: 12%;
}

.header__popup {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header__popup_title {
    font-size: 24px;
    font-weight: 500;
    color: rgba(255, 255, 255, .8);
    margin: 20px 0 10px;
}

.header__popup_subtitle {
    text-align: center;
    font-size: 16px;
    color: rgba(242, 244, 250);
}

.header__subtitle-number {
    font-weight: 400;
    color: rgba(242, 244, 250);
}

.header__popup-email {
    font-weight: 400;
    letter-spacing: .015em;
    margin: 0 auto 10px;
}

.header__popup-email-address {
    text-decoration: none;
    color: rgba(242, 244, 250);
}

.header__popup-email-address:hover {
    text-decoration: underline;
}

.header__popup_close {
    position: absolute;
    border: none;
    top: 10px;
    right: 5px;
    cursor: pointer;
    padding: 0;
    max-height: 30px;
    background-color: rgba(6, 41, 61, 1);
}

.header__popup_close-icon {
    max-width: 30px;
    max-height: 30px;
}

.header__popup_link {
    color: rgba(255, 255, 255, .8);
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-bottom: 15px;
}

.header__popup_link:hover {
    text-decoration: underline;
}

.header__popup_ico {
    margin-right: 15px;
}

@media screen and (max-width: 1024px) {
    #popup {
        max-width: 320px;
        max-height: 150px;
        box-sizing: border-box;
    }

    #popup.active {
        visibility: visible;
        top: 10%;
        left: 72%
    }

    .header__popup_close {
        top: 0;
        right: 5px;
    }

    .header__popup_title {
        font-size: 15px;
        margin: 10px auto;
    }

    .header__popup_subtitle {
        font-size: 15px;
        margin: 0 auto;
    }

    .header__popup-email {
        font-size: 15px;
        margin: 15px auto;
    }

    .header__popup_ico {
        max-width: 40px;
        max-height: 40px;
    }
}

@media screen and (max-width: 768px) {
    #popup {
        max-width: 320px;
        max-height: 150px;
        box-sizing: border-box;
    }

    #popup.active {
        visibility: visible;
        top: 10%;
        left: 68%
    }

    .header__popup_close {
        top: 0;
        right: 5px;
    }

    .header__popup_title {
        font-size: 15px;
        margin: 10px auto;
    }

    .header__popup_subtitle {
        font-size: 15px;
        margin: 0 auto;
    }

    .header__popup-email {
        font-size: 15px;
        margin: 15px auto;
    }

    .header__popup_ico {
        max-width: 40px;
        max-height: 40px;
    }
}

@media screen and (max-width: 320px) {
    #popup {
        max-width: 320px;
        max-height: 150px;
        box-sizing: border-box;
    }

    #popup.active {
        visibility: visible;
        top: 10%;
        left: 49.4%
    }

    .header__popup_close {
        top: 0;
        right: 5px;
    }

    .header__popup_title {
        font-size: 15px;
        margin: 10px auto;
    }

    .header__popup_subtitle {
        font-size: 15px;
        margin: 0 auto;
    }

    .header__popup-email {
        font-size: 15px;
        margin: 15px auto;
    }

    .header__popup_ico {
        max-width: 40px;
        max-height: 40px;
    }
}

@media screen and (max-width: 280px) {
    #popup {
        max-width: 280px;
        max-height: 150px;
        box-sizing: border-box;
    }

    #popup.active {
        visibility: visible;
        top: 17%;
        left: 49.4%
    }

    .header__popup_close {
        top: 0;
        right: 5px;
    }

    .header__popup_title {
        font-size: 15px;
        margin: 10px auto;
    }

    .header__popup_subtitle {
        font-size: 15px;
        margin: 0 auto;
    }

    .header__popup-email {
        font-size: 15px;
        margin: 15px auto;
    }

    .header__popup_ico {
        max-width: 40px;
        max-height: 40px;
    }
}