:root {
    background-color: rgb(0, 0, 0, 1);
    min-width: 280px;
    min-height: 100vh;
    margin: 0 auto;
    font-family: 'OpenSans', 'Buyan', 'Montserrat';
    color: rgba(242, 244, 250);
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    letter-spacing: .015em;
}