.list-price-service {
    flex-direction: column;
    text-decoration: none;
    margin-right: 50px;
    display: flex;
}

.list-price-service:last-child {
    margin: 0;
}

.list-price-service__block {
    align-items: center;
    display: flex;
}

.list-price-service__image {
    background-image: url(../../images/standarts-item.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    margin-right: 20px;
    flex-shrink: 0;
    height: 30px;
    width: 30px;
}

.list-price-service__title {
    font-family: 'Montserrat';
    line-height: 146.28%;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    flex-shrink: 0;
    color: white;
    margin: 0;
}

.list-price-service__description {
    color: var(--grey, #999);
    font-family: 'Montserrat';
    line-height: 158.47%;
    font-style: normal;
    font-weight: 400;
    max-width: 250px;
    font-size: 12px;
}


@media screen and (max-width: 1280px) {

    .list-price-service,
    .list-price-service:last-child {
        margin: 20px 30px 0;
        min-height: 150px;
    }
}

@media screen and (max-width: 1024px) {
    .list-price-service {
        min-height: 142px;
        min-width: 364px;
        margin-top: 20px;
        margin-right: 0;
    }
    .list-price-service:last-child {
        margin-right: 0;
    }
}

@media screen and (max-width: 768px) {
    .list-price-service {
        min-height: 150px;
        margin-top: 20px;
        margin-right: 0;
        margin-left: 0;
    }
}

@media screen and (max-width: 520px) {
    .list-price-service__title {
        font-size: 13px;
    }

    .list-price-service__description {
        font-size: 10px;
    }
}

@media screen and (max-width: 320px) {
    .list-price-service {
        margin-top: 20px;
        margin-right: 0;
    }

    .list-price-service__image {
        margin-right: 10px;
    }
}

@media screen and (max-width: 280px) {

    .list-price-service,
    .list-price-service:last-child {
        min-width: 240px;
        margin-right: 0;
        margin-left: 0;
        margin-top: 0;
    }

    .list-price-service__title,
    .list-price-service__description {
        font-size: 8px;
    }
}