.list-component-price {
    flex-direction: column;
    text-decoration: none;
    display: flex;
    max-width: 250px;
    max-height: 178px;
}

.list-component-price__block {
    align-items: center;
    display: flex;
}

.list-component-price__image {
    background-image: url(../../images/standarts-item.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    margin-right: 20px;
    flex-shrink: 0;
    height: 30px;
    width: 30px;
}

.list-component-price__title {
    font-family: 'Montserrat';
    line-height: 146.28%;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    margin: 0;
}

.list-component-price__description {
    color: var(--grey, #999);
    font-family: 'Montserrat';
    line-height: 158.47%;
    font-style: normal;
    max-width: 250px;
    font-weight: 400;
    font-size: 12px;
    margin: 5px;
}

/* @media screen and (min-width: 1500px) and (max-width: 1750px) {
    .list-component-price:last-child {
        margin-right: 50px;
        margin-top: 40px;
    }
} */

/* @media screen and (min-width: 1281px) and (max-width: 1499px) {
    .list-component-price:nth-last-child(-n+2) {
        margin: 40px 50px 0 0;
    }
} */


@media screen and (max-width: 1024px) {
    .list-component-price {
        min-height: 142px;
        margin-top: 20px;
        margin-right: 0;
    }

    .list-component-price:last-child {
        margin-top: 20px;
    }
}

@media screen and (max-width: 768px) {
    .list-component-price {
        margin-top: 20px;
        margin-right: 0;
    }
}

@media screen and (max-width: 320px) {
    .list-component-price {
        margin: 20px 0 0;
        margin-right: 0;
    }

    .list-component-price__image {
        margin-right: 10px;
    }
}