.initial {
    background-image: url(../../images/back.svg);
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    grid-template-rows: 80px;
    align-items: center;
    height: 100vh;
}

.initial__block {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 830px;
    margin: 0 auto;
}

.initial__block-h4 {
    color: #FFF;
    text-align: center;
    font-family: 'Montserrat';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0;
}

.initial__text {
    font-family: 'Buyan';
    margin: 0 auto;
    font-size: 96px;
    font-weight: 500;
    line-height: 75px;
    letter-spacing: calc(1em / 5);
    overflow: hidden;
    text-align: center;
}

.initial__block-h1 {
    color: rgba(77, 189, 252, 1);
    text-transform: uppercase;
    border-right: 2px solid rgba(77, 189, 252, 1);
    animation: typing-title 1s steps(20, end) forwards, blink-caret-title .3s infinite;
    margin: 20px auto 10px auto;
}

.initial__block-span {
    display: none;
    margin-bottom: 50px;
    padding-right: 10px;
    max-width: 450px;
    color: rgba(221, 29, 29, 1);
    border-right: 2px solid rgba(221, 29, 29, 1);
    animation: typing-span 1s steps(20, end) forwards, blink-caret-span .8s infinite;
}

@media screen and (max-width: 1280px) {
    .initial {
        min-height: 600px;
        grid-template-rows: 80px;
    }
}

@media screen and (max-width: 1024px) {
    .initial {
        min-height: 480px;
        grid-template-rows: 80px 80%;
    }
}

@media screen and (max-width: 769px) {
    .initial {
        min-height: 360px;
        grid-template-rows: 100%;
        justify-items: end;
    }

    .initial__block {
        max-width: 768px;
    }

    .initial__text {
        font-size: 68px;
    }

    .initial__block-span {
        padding: 0;
        max-width: 320px;
    }
}

@media screen and (max-width: 320px) {
    .initial {
        background-size: cover;
        justify-items: end;
        grid-template-rows: 100%;
    }

    .initial__block-h1 {
        max-width: 285px;
        margin-top: 20px;
    }

    .initial__block-span {
        max-width: 200px;
        padding: 0;
    }

    .initial__text {
        line-height: 40px;
        font-size: 48px;
    }
}

@keyframes typing-title {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

@keyframes typing-span {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

@keyframes blink-caret-title {
    from {
        border-color: transparent
    }

    to {
        border-color: var(--font-two-color)
    }
}

@keyframes blink-caret-span {
    from {
        border-color: transparent
    }

    to {
        border-color: var(--font-one-color)
    }
}