.initial {
    background-image: url(../../images/back.svg);
    background-repeat: no-repeat;
    grid-template-rows: 80px;
    background-size: cover;
    align-items: center;
    display: grid;
    height: 100vh;
}

.initial__block {
    flex-direction: column;
    align-items: center;
    max-width: 830px;
    margin: 0 auto;
    display: flex;
}

.initial__block-h4 {
    margin-bottom: 50px !important;
    font-family: 'Montserrat';
    line-height: normal;
    font-style: normal;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    color: #FFF;
    margin: 0;
}

.initial__text {
    letter-spacing: calc(1em / 5);
    font-family: 'Buyan';
    text-align: center;
    line-height: 75px;
    font-weight: 500;
    overflow: hidden;
    font-size: 96px;
    margin: 0 auto;
}


.initial__block-h1 {
    animation: typing-title 1s steps(20, end) forwards, blink-caret-title 10s infinite, textShine 10s ease-in-out infinite alternate;
    border-right: 2px solid rgba(77, 189, 252, 1);
    -webkit-text-fill-color: transparent;
    background: linear-gradient(to right,
            rgba(77, 189, 252, 1) 20%,
            rgba(221, 29, 29, 1) 30%,
            rgba(77, 189, 252, 1) 70%,
            rgba(221, 29, 29, 1) 80%);

    -webkit-background-clip: text;
    margin: 20px auto 10px auto;
    background-size: 500% auto;
    text-transform: uppercase;
    padding-left: 10px;
    background-clip: text;
}

.initial__block-span {
    animation: typing-span 1s steps(20, end) forwards, blink-caret-span 10s infinite, textShine 10s ease-in-out infinite alternate;
    border-right: 2px solid rgba(221, 29, 29, 1);
    -webkit-text-fill-color: transparent;
    background: linear-gradient(to right,
            rgba(221, 29, 29, 1) 20%,
            rgba(77, 189, 252, 1) 30%,
            rgba(221, 29, 29, 1) 70%,
            rgba(77, 189, 252, 1) 80%);
    -webkit-background-clip: text;
    background-size: 500% auto;
    background-clip: text;
    margin-bottom: 50px;
    padding-right: 10px;
    max-width: 450px;
    display: none;
}

@media screen and (max-width: 1280px) {
    .initial {
        grid-template-rows: 80px;
        min-height: 600px;
    }
}

@media screen and (max-width: 1024px) {
    .initial {
        grid-template-rows: 80px 80%;
        min-height: 480px;
    }
}

@media screen and (max-width: 769px) {
    .initial {
        grid-template-rows: 100%;
        justify-items: end;
        min-height: 360px;
    }

    .initial__block {
        max-width: 768px;
    }

    .initial__text {
        font-size: 68px;
    }

    .initial__block-span {
        max-width: 320px;
        padding: 0;
    }
}

@media screen and (max-width: 320px) {
    .initial {
        grid-template-rows: 100%;
        background-size: cover;
        justify-items: end;
    }

    .initial__block-h1 {
        max-width: 285px;
        margin-top: 20px;
    }

    .initial__block-span {
        max-width: 200px;
        padding: 0;
    }

    .initial__text {
        line-height: 40px;
        font-size: 48px;
    }
}

@keyframes textShine {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 100% 50%;
    }
}

@keyframes typing-title {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

@keyframes typing-span {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

@keyframes blink-caret-title {
    from {
        border-color: transparent
    }

    to {
        border-color: rgba(77, 189, 252, 1)
    }
}

@keyframes blink-caret-span {
    from {
        border-color: transparent
    }

    to {
        border-color: rgba(221, 29, 29, 1)
    }
}