.loader-container {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100vh;
    width: 100%;
    z-index: 1;
}

.spinner {
    border-color: rgba(6, 41, 61) transparent rgba(6, 41, 61) transparent;
    animation: spin-anim 1.2s linear infinite;
    border-radius: 50%;
    border: 8px solid;
    height: 64px;
    width: 64px;
}

@keyframes spin-anim {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}